<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<form method="post" action="#" autocomplete="off">
    <div class="form-group">
        <label for="">Введите ID пользователя</label>
        <input name="input-sentence" type="text" class="form-control" id="email" placeholder="Введите id...">
    </div>
    <button type="submit" class="btn btn-primary" name="submit-button">Получить результат</button>
</form>
<h6>Предупреждение: Загрузка может занять несколько минут</h6>
</body>
</html>